/* FEUILLE DE STYLE SITE RESERVIA */

body
{
    width: auto;
    font-family: 'Raleway' sans-serif;
}

/* HEADER */

header
{
    display: flex;
}

nav
{
    display: flex;
    justify-content: space-between;
}

ul
{
    display: flex;
}

li
{
    list-style-type: none;
}

li a
{
    text-decoration: none;
    color: black;
}